@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply selection:bg-emerald-500/30 selection:text-emerald-500 transition-colors duration-200;
  }

  /* Light Mode */
  .light {
    color-scheme: light;
  }

  .light body {
    @apply bg-zinc-100 text-zinc-900;
  }

  /* Dark Mode */
  .dark {
    color-scheme: dark;
  }

  .dark body {
    @apply bg-zinc-950 text-zinc-100;
  }
}
